.nav {
    width: 255px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 1rem;
    background-color: #f9f6f6;
    border-right: 2px solid #000000;
    box-shadow: 0px 0px 5px #000;
    overflow-y: auto;
    scrollbar-width: none;
}

.header {
    margin-bottom: 2rem;
}

.title {
    margin-bottom: 0.3rem;
}

.subtitle {
    font-size: 0.9rem;
    font-style: italic;
}

.search {
    display: flex;
    gap: 0.25rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.search input {
    width: 100%;
    padding: 0.25rem 0.5rem;
    outline: none;
    border: 2px solid #000000;
    box-shadow: 3px 3px 0px #000;
    transition: all 0.1s ease;
}

.search input:hover {
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 0px #000;
}

.search input:active {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0px #000;
}

.search button {
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    background-color: #ffffff;
    border: 2px solid #000000;
    box-shadow: 3px 3px 0px #000;
    transition: all 0.1s ease;
}

.search button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 0px #000;
}

.search button:active {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0px #000;
}

.nav_items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nav_item {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    font-size: 0.9rem;
    background-color: #ffffff;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0px #000;
    transition: all 0.1s ease;
}

.nav_item:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0px #000;
}

.nav_item_active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px #000;
    background-color: #e8e8e8;
    font-weight: 600;
}

.nav_item_active:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px #000;
    background-color: #e8e8e8;
    cursor: default;
}


.add_task {
    margin-top: 1rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #ffffff;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0px #000;
    transition: all 0.1s ease;
}

.add_task:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0px #000;
}

.add_task:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px #000;
}